.navbar-nav li.nav-item:hover {
    background-color: #5b9aff;
}

.navbar {
    padding: 0 1rem;
}

.jumbotron {
    background: none;
    text-align: center;
}

.section-light {
    background-color: #ededed;
    padding: 2rem;
}

.carousel-caption {
    color: #000000;
}

.section-dark {
    background-color: #adadad;
    padding: 2rem;
}

.row-button-login {
    margin-top: 20px;
}

button.button-login {
    color: white;
    background-color: red;
    display: block;
    margin: auto;
}

.form-Wrapper {
    padding: 1rem;
}

.img-Center {
    display: block;
    margin: auto;
}

.btn-Center {
    display: block;
    margin: auto;
    width: 66%;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #ff6363;
}

